<!DOCTYPE>
<html lang="en" ng-app="ListarSocialDrone">
<head>
    <!--
<pre style="font: 2px/1px monospace;">..`.....```````````````````````````````````````````````````````````````````````````````````````````````````````````:;'``````````````````````````````............````````````....,.``````````````````````
..`......````````````````````````````````````````````````````````````````````````````````````````````````````````:+++++,``````````````````````..........``````````````````````..,.``````````````````````
..`.....`````````````````````````````````````````````````````````````````````````````````````````````````````````::+++++'```````.'``````.........``````````````````````````````.,.``````````````````````
........`````````````````````````````````````````````````````````````````````````````````````````````````````````:::;+++':.``;;+;;',......`````````````````````````````````````.,.``````````````````````
........`````````````````````````````````````````````````````````````````````````;.````.,,````````````````````````,::,    ''`:;''+;''``````````````````````````````````````````.,.``````````````````````
...`....`````````````````````````````````````````````````````````````````.```````:+.```'++;```````````````````````.::.    ''+;::+;+;;,`````````````````````````````````````````.,.``````````````````````
.......`````````````````````````````````````````````````````````````````.',``````::+.``:;++'``````````````````````.::., +;:;'+'::;; ; .````````````````````````````````````````.,.``````````````````````
...`....````````````````````````````````````````````````````````````````,:+.`````:::+,.::;+++``````````````:+:````,:::: ;'':;'  :,` .: ````````````````````````````````````````.,.``````````````````````
...`.....``````````````````````````````````````````````.:```````````````,::+.````::::`,::::.```````````''``;;''```,:::: ;; `:.  :..,`: ````````````````````````````````````````.,.``````````````````````
...`.`.```````````````````````````````````````````````:'+#.`````````````,:::'````:::: ,::::    :`,+``:+;'+.;;;'+``,:::: :,  :`:`:.::,:.````````````````````````````````````````.,.``````````````````````
...`....``````````````````````````````````````````````;'++#``````````````,::`````:::: ,::::    '';;+.::'';+::;;',`::::: : : +::.:`::::.````````````````````````````````````````.,.``````````````````````
...`....`````````````````````````````````````````````:;;'+##``````````````,:`.```:::: :::::`:: :'+;;';::;';'::;, `::::: : :`++'.:`:,::`````````````````````````````````````````.,.``````````````````````
... `...`````````````````````````````````````````````::;;'+#+```````.:``,``: +,``:::: ::::,.::`,''+;;''::;:  ::   :::::`:,:.;', : :.::`````````````````````````````````````````.,.``````````````````````
... `...`````````````````````````````````````````````::;;'`  .+,````'++`:+`;:'+,`:::: ::::,,::.`;+;.;: ,::,  :: : :::::.,+'.;,  : :`::`````````````````````````````````````````.,.``````````````````````
... `...`````````````````````````````````````````````:::;`   `'+.``;;'++::+:;''+.:::: ::::.,:::`: , :   :,`: ::,: :::::..+, : : :`:`:,`````````````````````````````````````````.,.``````````````````````
...`....`````````````````````````````````````````````:::: `.``;+#``:;;'++::+:;''+:::: ::::.:::: :   : . :.`: :.:: :::::,`   :.: :`: :.`````````````````````````````````````````...``````````````````````
...`...`.````````````````````````````````````````````:::, ``:,;'++.:;;;'+;::':;:  :::`::::`:::: :  :,`: :.,: : +: ::::,,``,:::: :.: :.`````````````````````````````````````````.,.``````````````````````
...``...`````````````````````````````````````````````:::````::;;'+'::;;:  ,: ::   ,::`::::`:::: : ,:`:: :`:: : ++ ::::,: :::,::`:,:`.``````````````````````````````````````````.,.``````````````````````
...`.````````````````````````````````````````````````::: ```:::;;  ,::;   ,: ;: , `::`:::: :::: : :: :: :`:: :    ::::.: ;::.;:`:`,````````````````````````````````````````````...``````````````````````
.....````````````````````````````````````````````````,:: ,`.::::    ::: ,,,: +;::: :,`:::: ::::`: :: :: : :: :   `::::`: ;;:.' `:``````````````````````````````````````````````...``````````````````````
....``...`````````````````````````````````````````````:: +`.:::: :, ::``:::: +++:: :,.:::: ::::`: :: :: : :: : ```::::`: '',, ..```````````````````````````````````````````````...``````````````````````
....`....``..`.````````````````````````````````````````: ,#,:::, :: :: `:::: '+++: :,.:::: ::::.:`::`:: : :: :````:::: :`. `,``````````````````````````````````````````````````...``````````````````````
,,,.,,,,......`````````````````````````````````````````.  ,+:::`.:: ,: `::::`;'+#' :,`:::: :::,.:`::`:: : :: :.;```::: `,  ````````````````````````````````````````````````````...``````````````````````
...`.....`..````````````````````````````````````````````.   ::: :::`,: `::::`;;:   :.`:::: :::.,:.::.:: : ::`:`;;```:: ````````````````````````````````````````````````````````...``````````````````````
...`......```.```````````````````````````````````````````    :: :::`,:``::::`:;   `:``:::: :::`::.::,:: : ::`: ';````, ````````````````````````````````````````````````````````...``````````````````````
..........```````````````````````````````````````````````:`  :: :::`,, `::::`:. ,,`:`.:::: ::: :,,:,,::`:`::.: +.``````````````````````````````````````````````````````````````...``````````````````````
..........```````````````````````````````````````````````::: .: :::`,,``::::.: :::.:`.:::: ::: :,,:,,::`:`::`:   ``````````````````````````````````````````````````````````````...``````````````````````
..........``````````````````````````````````````````:```,::: `: :::`:,..:::,.: ::,.: .::::`;:: :,::,,:,,:.::``` `````````````````````````````'''.````````````````````..``.`````...``````````````````````
..........````````  ````````````````````````````````:;,:';::``: ::: :,.::::.,: ::..: .::::`;;: :.::,.:`::`:,.``````````````````````````````'#####'````````````````............`...``````````````````````
..........````````     `````````````````````````````::##+;::``: ;:: :,.;:::.,: ;:`,: ,::::.';`.:`:::`; ::.`,``````````````````````````````+######@'````````````...................``````````````````````
..........`.``````        ```````````````````````````::#+';:`.: ;:: :,`';::.:: ;; ,: `::::,+: ::`.:: : .,```  ```````````````````````````,##########`````````.....................``````````````````````
....`.....````````           ````````````````````````::'#+;; ,: +;: :: +';:`:: '; :: ``::,    :: `.:  ````:;+#, `````````````````````````#######+###````````......................``````````````````````
....`.....````````               `````````````````````::+#+; `: :'```: ;+ :``: . `,: ```:,   ``: ``.  ``,#######``````````````````````..`#++++';;+##,....`........................``````````````````````
....`.....`````````                 ``````````````````., ;'  ``` ` ```   `:```   ``: ````.  .``` ```````;#######+```````````````````....'##:';::::+##.............................``````````````````````
....`.....`````````                     ```````````````,    ```.   ````  `````. ```````````````````````'#########:``````````````````....#+:,,:::::+#@.............................``````````````````````
....`.....`````````                         ``````````.``  `````. ```````````````````````````````````` +##########;```````````````......#:.,:::::::#@.............................``````````````````````
....`......````````                              ` `':..```````````````````````` ``````````````````````############```````````````......#,,,,::+#+:#@...........,.................``````````````````````
....`.....`````````                               .######,````````````````````#@@,`````````````````````###########@ ``````````````......@.;;::+';''+@...........,..................`````````````````````
....`.....````````                                #######@,``````````````````@###@:`......`.`.........;##;,:+######``````````````.......@:'''#;'+;:#+.........,,,,..................````````````````````
....`.....````````                               ;########@ ```````````````.#+#####..................`###,,:;'++###.````````````........#,'#;:'':;:#:;,........,,,.................`````````````````````
....`......```````                              `#######@#@``````````````` ########@`....,,..........`#+#,,,:;;;;##,````````..``........+;;;':''';:;:;,.......,.,,,................`````````````````````
....`.....````````                              '+####+'+##,````````````..,#####@###,.,,,,,,,,........##+,,,:::;;+#,```````....`......,,':;'::;;;:::+,,.......,,,.................``````````````````````
...........````````                             #+###+;;;##@ `````````...`@#;,;;;'##+,,,,,,,,,,.......##'..,:::::+#.```````...........,,:,,,,,:;::::;,,.........,,,................`````````````````````
..........`````````                             +++##+;;;### ``````````..`@+..::;;;#@,,,,,,,,:,.......##,,+;,:;#''#```````............,,:,,:;;';::::;,,............................`````````````````````
..........`````````                             ;#'++;;;;;#@ ``````````..`#'..,:;;;#@,::::::::,.......##..,;,:':;;#```````...........,,,,:,,:::;;:::,,,.........,..................`````````````````````
`...........```````                             '#.,::;;;;#@ ``````````...#'.,::;;;##:::::::::,.......+#.;'+.;+#':#`````.`...........,,,,,,,:'''::::,,,............................`````````````````````
`..........````````                             @#,;'+;+#;##```````````...+;..,:;;;++::::::::::,......;#.::'.;+'':#``````............,,,,,,:;:::::::,,,............................`````````````````````
`..........````````                             ;;:'#:'+'+#'```````````...;:'+':#++''::::::::::,......,#.,:,.;;;;:+``````.`..........,,,,,,,,:::::::,,,...........................``````````````````````
 ..........````````                             '+.:':;+++#;```````````...,,:+':+++''::::::::::,.........,,:,:;;;:'`````..`..........,,,,,,,,,::::::,,,...........................``````````````````````
 ....`.....````````                    `      ` :+.:;,:'''+````````````...,:,:,:'';''::::::::::,..........:;,;';:;;``````......`......,,,,,:,,::::::.,............................``````````````````````
 ....`.....````````                    `      ``.'`,;,;'';#````````````....:.,,:';;''::::::::::........+..:::'':;;:```````....``......,,,,,:::;;;::,'.............................``````````````````````
 ....`.....````````                   ``     ```.;`,;::'';# ```````````....,.;,,'';':::::::::::........,..;,:;;::'``````......``........,,,,:;;';::,@:............................``````````````````````
 ....`.....````````                   ```   ```` ',::'+'''' ```````````....,.;,''';;.::::::::::........`,,;+:;#:;',`````......``........,.@.,,,,::::@+............................``````````````````````
 ....`.....````````                   ```` ````` +,:+,'++'.`````````````...,,;:;+'':,::::::::::........#,,:.:;;;;###:``.......``........,.@.,,.:::::+#'...........................``````````````````````
 ..........````````                   ````  `````.,,,;;''+ `````````````....,:,;''',,,::::::::,......`#+,,,::;;;;##++,`.......``.......,.,#.,,,,:::'+#+#,.......,,,,..............`````````````````..```
 ,.........````````                   ````  ``````::;:''''``````````````....:,,'''+,,,::::::::,......,++::,.:;;;'##+'#`.................,+++.,,,::'+#####+..,,,,,,,,..............`````````````````..```
 ..........````````                    ``` ``````:.;;;''#```````````````.....:,:;'+,,,::::::::.......+'+;::,,:;''##+'#`.......,......,.'+++#+..,;;+#####+##:.,,,,,,,,..............````````````````..``,
 ..........````````                   ```    ````@.:'''+# ``````````````.....::;'+':,,:::::::,......`+'+;,:;;''''+'+++;.......,,...,,.'+++++##;:;+#####++++#+,,,,,,,,...............```````````````...``
 ..........````````                   ``    ``` +#,.;++#'````````````````....,:++'';.,::::::........`;'+'.,:;'';'+''+'+`.....,,,,,,,.++++++++#+++#####+++++++#;,,,,,,,...............``````````````...``
 ...........```````                   `   `` ` ,##',.:''';``````````````..`;..,;'';;;@;:::;;.........;+'+.,,:;;;'+''#'+`.....,,,,,,,+#++++++++++++###+++++++++#,,,,,,,,..............``````````````...``
 `.........````````                          `+##+''.:;'## ````````````.``;:...:';;;;###;;;;;:.....`;;+'+,,,,::;';''+'+.....,,,,:,,+++++++++++++++++++++++++++#+,,,,,,,........,......`````````````..```
 `.........````````                   ` ` +.'###++''',''@#@',,``````````:###`..:;;;;#####+;;;;:...,'';''+.,,,::;;;'+''+#,..,,,::::+++++++++++++++++++++++++++++#,,,,,,,,...,...,.......```````````...```
  .........````````                   `` '+#####'+'';''+'###@@`````````+#+++:.,,';;+#######;;;;:.;''';;+;;,,,,;;;''''++'';.,,,:::;++++++++++++++++++++++++++++++;,,,,,,....,,.,,,.......````````````````
  ..........````````                  ` '+######'+';;''+#@####@``````.#+++++#+..,;##########;;;;;'''';'++;.,,,;:''''+++''':,,::::'+++++++++++++++++++++++++++#+++,,,,,,,..,,,,,,........````````````````
  ..........`````````                  '########,#';;''+#@#####@ ```,#++++++++#@############+;;;;;;'';';+:,;::.'''++++''''+,::::;'+++++++++++++++++++++++++++#+++,,,,,,,..,,,,,,,.......````````````````
  ..........``````````                `########@;#++'+'+########:```@+#+++++++#+##########+##+;;;';'';'';+.``.:''++++''''+';:::;;++++++++++++++++++++++++++++#+++:,,,,,...,,,,,,,........```````````````
  ..........```````````               ++#######@+##+#:+@#########``+++#+++++++############+###;;'';'';'''';.`,'++'++'''''+++,:;;'+++#++++++++++++++++++++++++#+++':,,,,,,,,,,,,,,........```````````````
  ..........`````````````            `++########@;++#,':########@``@+++#+++++++###########+###;;'';'';''''';:+++''+''''''+++;;;;'+++#++++++++++++++++++++#++##++++,,,,,,,,,,,,,,.........```````````````
  ,..........`````````               #++#########+###,'@#+@#####@``##++#++++++++#############';;'';'';''''',++''''+''''''++++;;;+#++#+++++++++++++++++++++++###+++,:,,,,,,,,,,,,,........```````````````
  ,.........``````````               ++############++;@##@@@@@@#@``##++#++++++++#############;;;';;'';''';;,'''''''''+'''++++;;;##++++'++++++++++++++++++++####+++::,,,,,,,,,,,,,........```````````````
  ,.........````````` `             ,++##########@#++;;##+#@###@@`,###+#++++++++##+##########';;';;';;''';;;'''''''''+'';++++'''##++++'++++++++++++++++++++##+#+++':,,,,,,,,,,,,,........```````````````
  ...........````````               +++##########@#+#''####@###@#`:###++#+++++++##+#########+';;';;';;''';;';''''''''+'+;+++++''###+++++++++++++++++++++++##+##++++,,,,,,,,,,,,,,........```````````````
  ...........````````               #++#@########@';;;.++##@###@@:'###++#++++++++++#########'+;;';;';;'''';';''''';''+'+;+++++''###++++++++++++++++++++++++###+++++,,,,,,,,,,,,,,........```````````````
  ...........```````````            #++###########'+#'+@###@###@@'###+#+#++++++++++#########;+;;';;';;'''';';''''';:'+'+;+'+++++###++++++++++++++++++++++++###+++++,:,,,,,,,,,,,,.........``````````````
  `..........```````````````        #++###########'+++;#+++####@@####+#+#++++++++++#########;+;;';;;;';''';';;;'+',''+'+;+'++++####++++++++++++++++++++++++###+++++,:,,,,,,,,,,,,.........``````````````
  `..........``````````````````     ++#########@##+#++;#+++###@@@@##@+#+#++++++++++#########;+;;';;;;';'';;';;;''',+++++'+'++++######++'+++++++++++++++++++###+++++;,,,,,,,,,,,,,.........``````````````
  `..........``````````````````` ` ,++#########@##+###'@##+#@@@@@@##@###++++++++++++#######@;+;;';;;;';''';';;;'''''++++'+'++++######++''++++++++++++++++++###+++++',,,,,,,,,,,,,.........``````````````
   ..........````````````````````` +++####@@###@####++'+;++#@@#@@@####@#++++++++++++#######@;+';;;;;;+;'';;';;;;'';''+++'++++++######++''++''++++++++++++++##+++++++,,,,,,,,,,,,,..........`````````````
   ..........````````````````````` #++###@#@####+##+++;++###@##@@@@###@#++++++++++++#######@;+';;;;;;';'';'';;';'''''++''++++++######++''++''++++++++++++++##+++++++,,,,,,,,,,,,,..........`````````````
   ,.........``````````````````````#++##########+#####'++###@##@@@##@@@#++++++++++++#######@;++;;;;;;+;;'''';;;';''''++''#+++++######++''+'''++++++++++++++#@+++++++,,,,,,,,,,,,,.........``````````````
   ,.........``````````````````````#++###@######+###+#'++###@##@@@@###@#+++++++++#++#######@;++;;;;;;;;;'''';;;''''''+++'#+++++######++''+''++++++++++++#++#@+++++++::,,,,,,,,,,,..........`````````````
   ,.........`````````````````````'+#+##@@##########+#''+#@#@#@@@@@###@#+++++++++##+#######@;++;;;;;;;;;;''';;;'''''+++#++++++'######'+''+''+++++++++++++++#@+++++++;:,,,,,,,,,,,..........`````````````
   ,.........`````````````````````#+#+##@@############+++'@###@@@@@##@@#+++++++++##++######@;++;;;;;;;;;;''';;;'''''+++#++++++'+#####'+''+'''++++++++++++###@++++++++,,,,,,,,,,,,..........`````````````
  `,..,......``.`````````````````.++####@@########@''+:;'+###@@@@@@##@@#+++++++++##++######@;'+';;;;;;;;;''';;;''''''++#++++++'+#####'''++''++++++++++++++##@++++++++,,,,,,,,,,,,..........`````````````
  `..,,.......```````````````````;++++##@@########@++#++#+###@@@@@@##@@#+++++++++##++######@;'++;;;;;;;;;''';;;;'''''++#+++++'''#####'''+''''+++++++++++++##@++#+++++:,,,,,,,,,,,...........````````````
```.,,,..........````````````````#++####@@#########+++++++###@#@@@@##@@#+++++++++###++####@@;'++;;;;;;;;;'''';;;'''''+++++++++''#####'''+'''++++++++++++++###+#++++++;,,,,,,,,,,,............```````````
```.,,,,...........````````````` #+#####@@#######@@'+++'++###@@@@@@##@@#+++++++++###++####@#;;++';;;;;;;;'''';;;'''''+++#++''+'+####@'''+'''++++++++++++++#####++++#+;,,,,,,,,,,,...........````````````
````,,,,............`.```````````######@@@#######@@'++#+#'###@@@@@@###@@+++++++++###++####@#;;+++;;;;;;;;;'''';;'''''+++#++''+''#####'''+'''++++++++++++++####++++++++,,,,,,,,,,,...........````````````
````,,,,.,...........```````````:+#####@@@####@##@@'++',;'###@@@@@@###@@+++++++++####+####@#;;'++;;;;;;;;;'''';;;''''++++++''+''#####+'++'''+++'+++++++++++##+++++++#+,,,,,,,,,,,...........````````````
````,,,,,.,...........``````````'+####@@@@####@#+@@:''+:+####@@@@@@###@@#++++++++####+####@#;''++;;;;;;;;;''''';;+'''++++++''+''+#####'++''''++++++++++++++##++'++++#;,,,,,,,,,,,`..........````````````
````,,,,,,,........`...`````````+#####@@@##+#####@#+###;+#####@@@@@###@@#++++++++####+###@@#;''++;;;;;;;;;'''''';+'''++++++''+''+###@#'''''''++++++++++++++#@#+#+#+++,,,,,,,,,,,,`.........`````````````
````,,,,,,,,.........```````````#+###@@@@##+#####@#'++#:+#####@@@@@@##@##+++++++##########@+;'''+;;;;;;;;;'''''';+'+++'++++''+''+###@@''''''+++++++++++++++#@@#++++++,,,,,,,,,,,,`.........`````````````
````,,,,,,,,........`.````````` #+###@@@@##+#####@#+++#;+####@@@@@####@@#+++++++#########@@';'''+;;;;;;;;;'''''';+'+++'++++''+''+###@#''''''++++++++++++++###:++++++#,,,,,,,,,,,,`.........`````````````
....,,,,,,,,..........````````` ++###@@@@##+#+#####+#+@'''#@#@@@@@@###@@#+++++++##########@;;;'++';;;;;;;;''''''''''+++++++'''''+####+''''''+++'++++++++++##@:++++++;,,,,,,,,,,,,`.........`````````````
````..`.,,,,...........```````` +####@@@@##+#+####++';+.;+###@@@@@@###@##++++++++#########@;;'+++';;;;;;;;;'''''''''+++++++'''''+####+''''''+++'++++++++++##@:++++++,,,,,,,,,,,,,`.........`````````````
`.......,,,,..........``````````++###@@@@##+#+####++++@;#'##@@@@@@####@##++++++++#########@:;'++++;;;;;;;;''''''';''+++++#+''''++###@+'''''''+++++++++++++###'+++++;:,,,,,,,,,,,,`.........`````````````
...,,,,,.............```````````,######@###+#+######++#,+'@###@@@@@###@###+++++++#########@:;''+++;;;;;;;;';''''';'''++++#+''''++#:;+'''''''++++'++++++++++##+#++++::,,,,,,,,,,,,`.........`````````````
,,....................``````````,+####@@###+#+####++++#,+'@###@@@@@###@@##+++++++#########@:;''++';;;;;;;''''''''';''++++#+''''+++,:+''''''''+++'++++++++++##,.,#++,:,,,,,,,,,,,,`.........`````````````
.......................`````````;+####@@#####+#@+#++++#;+;@###@@@@@##@@@##+++++++#########@:;''+'';;;;;;;'';'''''+;'+++++#+''''+++,:'''''''''+++'++++++++++#@..,:++,,,,,,,,,,,,,,`.........`````````````
......................`.````````++####@@#####+#@+##+'+#`,:@###@@@@@@#@@###+++++++#########@:;''+'';;;;;;;'';;''';+;''++++#+''''+++.,'+''''''''+''+++++++++++@.,,:,;:,,,,,,,,,,,,,`.........`````````````
..........````........`..```````'+++##@@#####+###'':''+:++@##@@@@@@@@@@###+++++#+##########:;''+;';;;;;;;'';'''';+''''+++#+''''+++.,;#''''''''+'''+++++++++##.,,::::,,,,,,,,,,,,,`.........`````````````
.......``````.........``````````,####@@@##+##+#@#+#++##:';@##@@@@@@@@@@###+++++############:;''+';;;;;;;;'';';'';++'''+++#+''''++#.,;@''''''''+'''+++++++++#+.,,:::,,,,,,,,,,,,,,`.........`````````````
...```````..............`````````+###@@@+#+##+#@#+#+++#.+;@##@@@@@@@@@@###+++++############:;;++';;;;;;;;''';;'';++'''+++#+''''++#..:@''''''''''''+++++++++#:,,::::,,,,,,,,,,,,,,`.........`````````````
````````..................```````#+###@@##+##+###+#'++#.#+###@@@@@@@##@####++++++#########@;;;+'';;;;;;;;';';;''''+'''+++##'''''+#..:#'''''''++'''+++++++++#.,:::::,,,,,,,,,,,,,,`.........`````````````
````......................```````#####@@##+##+###+##### ';###@@@@@@@@#@@###++++++########@@;;;''';;;;;;;;';;;;;'''+'''+++##'''''+#..,+'''''''++'''++++++++##.,:::::,,,,,,,......,`.........`````````````
````.......................``````#+###@@##+##+###+':'''`+'###@@@@@@@##@#####+++++####+@####:;;';';';;;;;;';;;;''''++'''++##'';''++,..;+'+++++++'''++++++++#;,,:::::,,,,,,;;;:,,,,`.........`````````````
..........................```````++#######+##+##++#'##@,#'##@@@@@@@@##@#@+++#++++###+####@@';;;;;;';;;;;;';;;''''''+'''++##'''''++;..:@'''++++++''++++++++#.,,:::::,,,,,,;:::,,,,`........``````````````
...........................``````:++######+##+###+#;++#.#'@##@@@####@#@#####+++++##++####@@+;;';;;;;;;;;'';;'''''''+''''+##'''''+##`.,#+'''+++++''+++++++#@.,,:::::,,,,,,;::,,,,,`.........`````````````
.........................`.```````#######+#####@++#'+'''';@@@@@@@#####@'###+++++#########@@+;;'';;;;;;;;''''''''''''+'''++#'''''++#`..;#'++++++++++++++++#:,,,::::::,,,,,;:::,,,,`.........`````````````
.........................`````````;#####@######@###++##;';@@@#;#@#####@####+++++#########@@#;;'';;;;;;;;;'''''''''''''''++#';;'+++#``.,@+'+++++++++++++++#`,,,::::,,,:,,,;:::::::`.........`````````````
..........................````````.##############+';,,;`;:@@#;;'@+@####@##+++++++########@@#;''+;;;;;;;;,+'''''''''''''+++#';;'++##.`.,+'+'+++++++++++++++.,,,+''';;;;;:::::::,::........```````````````
.................``````````````` ` ++############+'#++;'#+@#@;;'@ @###@:@++++++++#######@@@#;''';;;;;;;;;+'''''''''''++++##';;'++++:`..;#+++++++++++++++#..,,.+'''';;;;;;;:;;::;.........```````````````
...`.`````````````````````````     :@#############:#;;;;++##+;;;``#####;;+###############''#;''+;;;;;;;;;+''''''''''''+++##';''+++#@`..:;#'+++++++++++++#.,,,;#';;;;;;;:::::::::..........``````````````
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:,#####@@######;#;;:;#+##;;;:::,@##'++'''+++#+###+++++#;#;''+';;;;;'''+''''''''''+++++##';''+++++``..:'###+####+####@..,,,@+,:,,,,,,,,,,,,..............`````````````
.......................```````````````##@,@#######'#';:+@###';' ```@#';#'''''++#+##++++++#:;+;;++;;;;''''+'''''''++++++++##;;''+++++.``.,:@############:..,,,@#,:,,,,,,,,,,,,...........`.``````````````
..........................````````````'#.,+####''+,#;:,,++#:;;+ ```#''++'''++++++###++++++';+;'+++;;';;''''''''+++++++++#@#;;''+++++,.`.,:;#######+####`.,:,,##,,,,,,,,,,,,..............`.`````````````
.......................`````````````````.,+###+++#:#':,;###@##@````;;;'+;'''+++++###++++++'++;'++++;;;;;;;;''''''''''+###@#;;''+++++:....',@######+###...,,,,##,,,,,,,,,,,...............``````````````
.......................``````````````` ++####+'++#:#';:;+#####+````:':,#;;''+###+#####+''#.++'++++++';;;;';''''''''+#####@+;''++++++'```.;:+######+##@`.,,,,,##,,,,,,,,,,,...............```````````````
.....................````````````````` #####''+'+#;#';:'+#####;````;;:'#;;''+###+##++'''':::+.`+++++++;;;';;;;';'+#######@';;'+++++++``,.,#:@#####+##'`..,,,'##,,,,,,,,,..................``````````````
.....................````````````````` #######+:'#:#';,'######'````':,,+';''+#######++'';,#,#``+++++++++';;';'+##+#######@;;;'++++++#..,..@:@#####+##.`;`;,,@##,,,,,,,,...................``````````````
....................`````````````````` #++######++;+';,:######+````;:;#;#;;'########+'''.+,##`.+++++++++#++##+###+########;;''+++++++,,,:.;+'#######@`.;,,;,###;,,,,,,,.................`.``````````````
...................``````````````````` #++########@#@@@@######+````.;:'#;;;'+#######++'':';+#`,#++++++###+++#+###++#######;'''++'+++++:,.:,#@#######@`:`'.:'##+',,,,,,,.................````````````````
.................````````````````````` +++####################+```` ':'';;''+#######+''''.#++:,#++++++###++++####++#######`.:+++'++'##,.::::@#######@.',:',@##+#,,,,,,...................```````````````
................`````````````````````` #+++######@############;``````';:;;''+#####@#+''''###'+.+++++++####+######++######@`,.::''++'#+#:,:;:#########:,',''#####,,,,,....................```````````````
`````````````````````````````````````` #++######@@@###########````````:;;;''+####+@#+''''###++::++++++###########+++#####@.'.:;'''''#++#+;;;########+#+;+;######,,,,,...................````````````````
.`````........`````````````            #+++######@@@@########@       `::;;''+###@'@##'''+##++++'++++++########+#+++#++###@.;,;;'''''@++++#######################.,,,,....................```````````````
,,,,,,,,,,,,,,,,,,,.........```````````#+++#######@@@########@ ```````';;;''+###@'###''+###+++++++++++########+#++++#####@.;,;;'''''@+++++###############+####+#.,,,,,..................````````````````
...........................````````````++++#######@@@########'`````...,;;;''+###+'###'+++##+++++++++++########+###########.,:;''''+'##++++########@###########++,,,,,,...................```````````````
.........................``````````````;+++######@#@@########`````````.;;;''+###''###++'+##++++''+++++########+###++++####@.'''+'''+##+++########+;@######+###++,,,,,,,,,..............````````````````
.........................```````````````+++######@@@@@######@ `````````;;;''+###;'+##++'##+++''''++++########++#+#++++####@.+++++''++#++++#######+'#############,,,,,,,,,,,,...............`````````````
...........................`````````````###+#####@#@@@######@ `````````;;;'+####;'+##++'##++'''''++++########+++#+++++#####+++++'''''#+++########''#############:,,,,,,,,,,,,,,,........````````````````
...........................`````````````########@@#@@#######@``````````;;;'++###;'+###+'##++'''''++#########@++++#++++#####'+++''''''#+++########''+############;,,,,,,,,,,,............````````````````
..........................``````````````###########@@#######+``````````;;;'++##@;;'###+'##+''''''++###########+++#++++#####'+++''''''#+#########@'''############;,,,,,,,,,,,...........`````````````````
...........................`````````````###########@@#######'``````````;;;'++###;;;###+'##'''''''++###########+++##+++#####'+''''''''###+#######@'';############',,,,,,,,,.............```````````````
```````````````````.``.................`##########+@@@######:``````````';;'+####;;;###++##;''''';++##########@'++##+++####@'+''''''''###########@'';############',,,,,,,,,,...........````````````````
'''';;;;:::,,,...````````` `            +##########@@@######.``````````';;'++###;;;###++##'''''';++###########`#++++++####@''''''''''+###########'';############;,,,,,,,,,,...........```````````````  `
::,,,,:,::::::::::::;;;;;'''''''''';;;:,+##########@@######@`        ` ';;'+###+;;:###+##@;''''';++########### '++++++####@;'''''''''+###########'';+###########:,,,,,,,,,,...........````````````````
,,,,,,,,,,,,,,,,,..............``.......'##########@@######@,;;;::::,,.+;;'+###';;:###+##@;''';;;++##########:`,++++++####+;''''''''''##########+';;;###########,,,,,,,,,,...........`````````````
,,,,,,,,,,,,,,,,,,...................``.;##+######.@@#######```````````+;;'+###;;;;#######;;'''';++##########, `+++++#####;;'''''';'''##+#######'';;;###########,,,,,,,,,,...........````````````
,,,,,,,,,,,,,,,,,..................``.`.;##+#####@`@@######;```````````;:;'+##@,:;;#######,,.,;''++##########:;.#++++#####;'''''';;;';##+#######;;;;;##########@,,,,,,,,,,...........```````````
,,,,,,,,,,,,,,,,,..................`.```:#++#####@`@@@#####````````````:;;'+##@,:;;######@,,,,;;;'+##########.` #+++######+,:;;';;;;;;#########@;;';;'##########,,,,.................````````````
,,,,,,,,,,,,,,.,....................````.#++#####@`@#@#####````````````;;;'+###,:;;#######,,.,;;;;+##########```#+++#######`.,::;;;;;:@########@;;;;;;#########':,,,,,,,,,,........`````````````
,,,,,,,,,,,,,,,,,.....................```'+######@`@######:````````````';;'+###,:;;######@,,.,:;;;+#########@```++++######@`.,,::;;;;;##+#######;;;;;:#########+,,,,,,,,,,,,,,,,,,,,,....```````
,,,,,,,,,,,,,,,,,........................`#######@`@######:````````````';;'####,:;;#######,,.,:;;;'#########@```;+++######@`.,,::;;;;;+########+;;;;;:#########+,,,,,,,,,,,,,...........````````````````
,,,,,,,,,,,,,,,,,........................`#######@`@######:````````````+;;++##',:;:@#####@...,;;;;'#########@```.+++#######`.,,::;;;;;;########';;;:;:#########+,,,,,...................`````````
,,,,,,,,,,,,,,,,,........................`#+#####@`@######;````````````';;++##.,:;:@######,..,;;;;'#########@ ```+++######+..,,::;;;;;:########;;;;:::+########+,,,,,..................```````````
,,,,,,,,,,,,,,,,.,,......................`#++####@`@######;````````````+:'+###.,::;;######,..,;;;;'##########``` #++######@`.,,::;;;;::#+#####@:;;;:::;########+,,,,,..................``````````
,,,,,,,,,,,,,,,,,,,......................`#++####@`:@######``````````` ;;'+++@.,:;;:@#####...:;;;;;#########@````+++#######:.,,::;;;;::#+######:;;;;:::########;,,,,,..................``````````
,,,,,,,,,,,,,,,,,,.......................`#++#####`#@######````````````'''''#'.,:;;:######...:;;;;;##########````.++#######@`,,::;;;:::++#####@:;:;::::########;,,,,...................``````````
,,,,,,,,,,,,,,,,,,,,,....................`#+######`#######+````````````,;''+##.::;;;@#####...:;;;;:########@.````.++########.,,::;;;:::#+#####@:;:;;:::########+,,,,...................`````````
,,,,,,,,,,,,,,,,,,,,.....................,##+####:.;#######````````````#''####,:::;'######...;;;;;:+#######@`````,++#######@.,,::;;;::,#+######:::;::::#########,,,,...................``````````
,,,,,,,,,,,,,,,,,,,,..,..................,#++####..+#@####@````````````'''+###,::;:+######..,;;;;;:+########`````,++########.,,::;;;::,#+#####;:::;::::+#######+,,,....................``````````
,,,,,,,,,,,,,,,,,,,,,,...................++####@@..#@@####@````````````+''+###,::;:#######..,;;;;;:+#######@`````.++#######+,,,::;;:::,#######':::;:::::#######',,,....................`````````
,,,,,,,,,,,,,,,,,,,,,,,,.,...............,#######.`##@####@````````````+'+####:::;:@#####@..,;;;;;:++######@``````@#########.,::;;;:::,#######@:::;:::::########.,,,..................``````````
,,,,,,,,,,,,,,,,,,,,,,,,,,...............'#######;.##@####@````````````+++####':;;:#######..,;;;;;:+########```````;########;,::;;;;:,,#+#####@:::;:::::########;.,,,.................``````````
,,,,,,,,,,,,,,,,,,,,,,,,,,,..............;#######'`##@#####````````````;++####+:;;:@#####'..:;;;;;:#########```````:+########,::;;;;:,:#######@::;;;::::########@.,,..................``````````
,,,,,,,,,,,,,,,,,,,,,,,,,,,,.............,#######'`@#@####'````````````:++#####;;;:######:,.:;;;;;:+########```````:+#######+,::;;;:::;++##@##@:::;:::::+########.,,...................`````````
,,,,,,,,,,,,,,,,,,,,,,,,,,,,.............,#######'`@######:.```````````.+######:;;:######,,.:;;;;;:#########```````,#########,:;;;;::,;+++#@##@:::;;::::#########.,,..................`````````
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,............#######+`@######,...````````.`######@:;;:######,,,:;;;;::########@```````;+#######@,:;;;;::,;+######@:::;;::::#########.,...................`````````
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..........########`@######`...````..``.`######@:;;;######,,,:;;;;:;#########,``````'########@,:;;;;::,:#######@::;;;::::+########.,...................`````````
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.,........#####@#@`@#####@`....`.......`#######:;;;#####@,,,:;;;;:'##+######,``````.++#######,:;;;:::,:########::;;:::::#########,,..................``````````
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.......#######@`@#####@`.....`......`######@:;;;#####@,,,:;;;;;'+++++####.```````+++######,;;;;::,,:########::;;;::::#########;...................`````````` `
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.......@#####@@`######@`............`######@:;;'#####@,,,:;;;;::++++#####````````+++######,:;;;::,,;########:;;;;::::##########...................``````````
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.......#####@#@`######@`.............+#####@:;;'#####@,,,:;;;;::#+++####@``````` +########,:;;:::,,;########::;;;::::##########...``..............``````````
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.....+####@@@.@#####@`.............+#####@:;;+#####@,,,:;;;;::#+######@``````` #++++++##,:;;:::,,'########::;;;::::##########...``..............``````````
:,,,.........,,,,,,,,,,,,,,,,,,,,,,,,,,,..;###@@#@.@#####@`.............'#####@:;;######@,,,:;;;;::#+######@``````` #++++++#@,:;;::,,,;########::;;;::::##########...```.............`````````
;'''''''';;;::,,..........,,,,,,,,,,,.,,..+###@##@.######@`.............:#####@:;;@######,,,,:;;;;:++######@````````#++++++#@,:;:::,,,;########::;;;::::##########..````.............``````````
;;;;;;;';;''';'''''''';;;:,....``.........@###@##@`######@`..............#####@:;;@######,,,,:;;;;:+#######@````````'++++++#@,:;:::,,,:########,:;;;;:::##########..`````............``````````
;;;;'''''''''';;';;;;;;;;;;';;;''';;;:,...@####@@.`@#@@##@`..............#####@;;;@######,,,,:;;;;:++######@````````:++++###@,:;:::,,,:########,::;;;:::##########...````...........```````````
;;;;''''''''''''''''''';;;'';;;;;;;;;;;;;:@#####+::@#@@@#@```````........#####@;;:######;,,,,:;;;;:########+````````:+++##+##::;;::,,,,########:::;;;:::##########...````............``````````
++++++++++''''''''''''';;;';;;;;;;;;;;;;::@#####':;@#@@@#@:::::,,..`````.#####@;;;#####@,,,,,:;;;;:########'````````.+###+###::::::,,,,########:::;;::::#########@...`````...........``````````
++++++++++++++++++++'''';;;;;;;;;;;;;;;;;:@######::@@@@@#@::::::::::::;:;######::;###@##,,,,,:;;;::########+`````````+###+##+::;:::,,,,########:::;;::::#########@`..``````..........`````````  `
++++++++++++++++++++++++++++++'';;;;;:::;:+#@##@@;:@@@@@@::::::::::::::::######'++#####@,,...,::::,########@`````````+##+###:,:;::,,,,.########;::;;;:::##########...``````.........```````````
+++++++++++++++++++++++++++++++++++++++'''+@@#@@@#+#@@@@@:::::;::::::::::#####+''+##@@##;;;;'++'';;########@````````.++#+###,,::::,,,,.########'::;;::::+#########...```````.........``````````
+++++++++++++++++++++++++++++++++++++''+'+'#@@@@@@##@@@#@:::::::::::::::+######''+##+###;;;;'''''''+#######@..``````.#+++###.,::::,,,,.@#######+::;;;:::;########'...``````..........``````````
''''''''++++++++++++++++++++++++++++++++++'#@@@@@@+##@###+++++'';;::::::#######'''@@#+##;;;;''+''''+#######@,,,,,,,,;#+++###.,,:::,,...'########::;;;::::########+`..``````..........`````````` `
'+++++++'''''''''+++++++++++++++++++++++++'####@@@'@@@###++++++++++++++++######'++@+@+#+;;;;''+'''''########,,,,,,,,'++#####;'';;:,,...`@######@,:;;;::::#########:.```````...........```````````
++++'+++'++++''''''''''''''''++++++++++++++####@@++@#####++++++++++++++++###########++++;;:;'+''''''+#######;,,,,,,,'+##+##@'''''';;;::,'######@,,:::::::++########`````````..........``````````
'+++'+++++'++'+''''''''''''''''''''''''''''#####@++@@####+++++++++++++++'###########'++########+++''+########,,,,,,,,#######'''''';;;:::#######@;';;;;::,:#+######'`````````..........`````````` ` `
'+++'++++++++''''''+'''''''''''''''''''''''+###@@''@@#####+++++++++++++++@+#########+'+#############+########,,.,,,,:++######''''';;;::,@#######+'''''''''#######@.```   `````........``````````
''+''++''+'''''''+'''''''''''''''''''''''''####@@;;@@#####''+++++++++++'+#+####+####+++###+#########++#######++#+';:'++######'''''';;:::@########'''''''''+######',:::,,,,...``````````````````` `
''+'++'++'+'++'+'+''''''''''''''''''''''''+####@#';@@######'''''''''+++#'+##########+++###########+########@'''''+'++########'''''';;:::#########''''''''''########,,,,,,,,:::;;;;;::...``
''++++++++''+''''+'''''''''''''''''''''''''######''@@#######''''''''''''+#@###@+#################+++`.;@###+''''+'++################+';:;#####@@+''''''++++########,,,,,,,,,:::::::::,,,,,,,,....```
'+++'''+++++'''''''''''''''''''''''''''''''+#####''@@@#+##+++'''''''''''######@+##########++#####+#.:` +##@;+''+'''+##+++##########+++++#########'''';;+++#########::,,,,,,,,::;;;:::,,,,,,.............
++'++++++++'''''''''''''''''''''''''''''''++#####+'@@@#+#+++++'''''''+#+###@#@@#######@#++++++++++#;'``'###;+++'++++++++##########++++++@@@#############++########';;;::;;::;;;;;;;::::,,,,,............
++'++++''+'++''''''''''''''''''''''''''''+++#####+'@@@#+++##+#''''''+######;@@@####@::,:'+++++++++,'`.`'+#:;''++++++++++####+#####+++++#@######################+##@@;:::;;;;;''''''';::,,,,,,..,........
+++++++++''+'''''''''''''''''''''''''''''+++####@#'@@@#++++###'''''++#####'@@@@+++##+:;#@@+++++++#::,,`;+';#'''''''''++#+:,'+######+++#####################+##++###++++#+++''''''';;;;;;::......,,.,.,..
+'+++++++'+'''''''''''''''''''''''''';;;+++####@@#'@@@@##++###''''';#@@@+'######++##+@@###++++++#..`,+.'#'#+'''''''''++```,;++#####+++#####################+##+#+###+++++++++++####+++';;::::::..,,,.:,,
'++'++++++'''''''''''''''''''''''''';;;;++#####@@+'@@@@##++##@''''',,:;;'#######++###+###+++++++';,,,+;;'++#''''''''';'`..;:+++++++++++#######@################+####++++++++++++++++++++++++++'';:,,,,,,
+++++++++++'''''''''''''''''''''';;;;;;;++#####@@#'##@####@@@#'''''#''+#########++###++##++++++'++##::+,####''''''''';'.:;::++++++++++##########+###########+#++###@#++++++++++++++++++''''''''''''+++++
++++++++++''''''''''''''''''''';;;;;;;;;++#####@#+'+##########'''';#############++#######++++++,;'';;:';@###'''''''''''``` ;#++##++++###########+####+++++++'#+++#####+++++++++++++''''''''''':'''''''''
++++++++++'+'''''''''''''''''';;;;;;;;;;++#######'''##########;''''##++#########++#######+++++;::;;:;+@#####''''''';;'`..,.,:++###++++########@#++##++++++++#'+++#####+''+++++++++++''''''''''''''''''''
+++++++''+''''''''''''''''''';;;;;;;;;;;@@@@@####+';##########'''''+++##########++#######+++++;,:'''++####++''''''';;'`+#+##:'+##+++#+######@###+#++++++++++##+#+#####+'''''++++++++''''''''''''''''''''
+++++++''''''''''''''''''''';;;;;;;;;;;;##########;'#########'''''''''''########++#######+++++#@+'''+####+++'''''';';'`;++++;++###++##+##########+++++++++++####+######;''''''''''''''''''''''''''''''''
++++'++'''''''''''''''''''';;;;;;;;;;;;;##########;'######;';';;''''''''#######++++#######++++###@@@###+####''''';'';'...,:::++#+##+'###@########+++++++++++#####+#####+''''''''''''''';;;;;;;;;;''''';'
+++++++''''''''''''''''''''';;;;;;;;;;;;+#########''######;''';;''''''''#######++++#######++++#########+####'''';;'''':,,:;''++###++#'+++########+++++++++++####+##+##+#''''''''''''''';;;;;;;;;;:::;;;;
++++++++'++'''''''''''''''';;;;;;;;;;;;;;##########+######;''';;;'''''''#######++++#######++++#####+++#+####'''''';';':,,:;''#+##+++#############++++++++++#############''''''''''''''';;;;;;;;;;;;;;;;:
+++++++++++''+''''''''''''';;;;;;;;;;;;;;'#+#######+#######;;;;';;'''''''+#####++++#######+++++++#++++++#####'''''''''#'###@##++++++#############+++++++++#######+#@#+++''''''''''''''';;;;;;;;;;;;;;:::
+++++++++++'++''''''''''''';;;;;;;;;;;;;;;;;#######;#######;;;;';;''''''''#####++++#######++++++++++++++#####''''''';#+######+++++++++###########+++++++++########+''+##'''''''''''''';;;;;;;;;;;;;;;;;:
+++++++++++++++'''''''''''';;;;;;;;;;;;;;;;;#######;#######;';;;;;''''''''######++++######++++++++++++++#####''''''''#++####++++++++++++#########++++++++++#############''''''''''''''';;;;;;;;;;;;;;;;;
</pre>
-->
    <meta charset="utf-8">
    <title>Social Drone</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--
    Easy Profile Template
    http://www.templatemo.com/tm-467-easy-profile
    -->
    <!-- stylesheet css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/templatemo-blue.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <!-- MENU AÑADIDO-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="cssmenu/styles.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="controller.js"></script>
</head>



<!--
<form>
    <div class="form-group">
        <input type="text" class="form-control input-lg text-center" ng-model="formData.username">
        <br>
        <input type="text" class="form-control input-lg text-center" ng-model="formData.password">
        <br>
        <input type="text" class="form-control input-lg text-center" ng-model="formData.email">
        <br>
        <input type="text" class="form-control input-lg text-center" ng-model="formData.gender">
        <br>
        <input type="text" class="form-control input-lg text-center" ng-model="formData.address">

    </div>
    <button class="btn btn-primary btn-lg" ng-click="createTodo()">
        Añadir
    </button>
</form>

-->


<body data-spy="scroll" data-target=".navbar-collapse" ng-controller="FirstController">

<input type="text" ng-model="newPost.username">
<br>
<input type="text" ng-model="newPost.password">
<br>
<input type="text" ng-model="newPost.email">
<br>
<input type="text" ng-model="newPost.gender">
<br>
<input type="text" ng-model="newPost.address">
<br>
<button class="btn btn-primary btn-lg" ng-click="addUser()">Enviar</button>
<ul>

    <div ng-repeat="user in users">

        <li>{{user.username}}</li><button class="btn btn-danger" ng-click="deleteUser(user._id)">Borrar</button>
        <!--   <h2>{{user.email}}</h2>
               <h2>{{user.gender}}</h2>
               <h2>{{user.address}}</h2>
       -->

    </div>

</ul>

<!-- preloader section -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
    </div>
</div>

<!-- header section -->
<header>
    <div id='cssmenu'>
        <ul>
            <li class='active'><a href='#'>Home</a></li>
            <li><a href='#'>Pilot Profile</a></li>
            <li><a href='#'>Drone Profile</a></li>
            <li><a href='#'>Flight Page</a></li>
        </ul>
    </div>

    <section class="container">

        <div class="col-md-6 col-sm-12" style="margin-top:1.5em;">
            <div class="about2">
                <h3 align=left class="accent" style="margin-bottom:1em;">Update Status</h3>
                <!-- <div align=right class="form-grpup" style="margin-bottom:1em; float:right;">
                     <label>Upload Photo/Video</label>
                     <input type="file">
                 </div> -->

                <textarea class="form-control" placeholder="What's on your mind? Share it with your friends"></textarea>
                <div align=right>
                    <button type="submit" style="margin-top:1em;" class="btn btn-info">
                        Post
                    </button>
                </div>

            </div>
        </div>

    </section>

</header>

<!-- about and skills section -->
<section class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="about">
                <h4 class="accent">Juan Garcia</h4>
                <p>28 February at 20:30</p>
                <h4>Flying my Drone!</h4>
                <img src="images/flying.jpg" style = "width:100%">
                <div align=center>
                    <button type="submit" style="margin-top:0.5em;" class="btn btn-info">
                        Comment
                    </button>
                    <button type="submit" style="margin-top:0.5em;" class="btn btn-info">
                        Like
                    </button>
                </div>
                <textarea style="margin-top:0.5em;" class="form-control" placeholder="Write a comment"></textarea>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="col-md-6 col-sm-12">
                <div class="skills2">
                    <h4 class="white2">Olga Ruiz</h4>
                    <p>28 February at 8:12</p>
                    <h4>Look at me with my drone :3</h4>
                    <iframe width="100%" height="380" src="https://www.youtube.com/embed/cuN95pPNKYE" frameborder="0" allowfullscreen></iframe>
                    <div align=center>
                        <button type="submit" style="margin-top:0.5em;" class="btn btn-info">
                            Comment
                        </button>
                        <button type="submit" style="margin-top:0.5em;" class="btn btn-info">
                            Like
                        </button>
                    </div>
                    <textarea style="margin-top:0.5em;" class="form-control" placeholder="Write a comment"></textarea>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- footer section -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>Copyright &copy; 2084 Your Easy Profile</p>
                <ul class="social-icons">
                    <!--li><a href="#" class="fa fa-facebook"></a></li>
                              <li><a href="#" class="fa fa-google-plus"></a></li>
                    <li><a href="#" class="fa fa-dribbble"></a></li>
                    <li><a href="#" class="fa fa-behance"></a></li-->
                    <li><a href="https://github.com/eaqp1516g5/SocialDrone" class="fa fa-github"></a></li>
                    <li><a href="https://twitter.com/EAGrup5/with_replies" class="fa fa-twitter"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- javascript js -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/main.js"></script>

</body>
</html>